/********************************** Variable **********************************/
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
  --menu-duration: 0.6s;
  --menu-easing: cubic-bezier(0.4, 0, 0.2, 1);

  /*Borders radius*/
  --border-radius-primary: 8px;
  --border-radius-secondary: 15px;

  /* Couleurs principales */
  --color-primary: #fe142f;
  --color-primary-hover: #3876ac;
  --color-primary-hover-2: #C5003F;
  --color-secondary: #232323;
  
  /* Couleurs de texte */
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
  --color-text-white: #fff;
  --color-text-black: #000;

  
  /* Couleurs de fond */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #232323;
  --color-bg-light: #c4c4c4;
  
  /* Couleurs d'état */
  --color-error: #e54858;
  --color-success: #279e7a;
  --color-border: #ccc;
  --color-border-light: #f00;
}

/*component*/ 
.button {
  background: var(--color-primary);
  margin-top: 0.5em;
  padding: 1em;
  color: var(--color-text-white);
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}
.button:hover {
  background: var(--color-primary-hover);
}

.btn-submit,
.btn-signup {
  background: var(--color-primary);
  border-radius: var(--border-radius-primary);
  color: var(--color-text-white);
  cursor: pointer;
  border: none;
  transition: all 0.7s ease;
}
.btn-submit:hover,
.btn-signup:hover {
  background: var(--color-primary-hover-2);
}
  